/* Box sizing rules */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */

@font-face {
  font-family: NotoSans;
  font-display: swap;
  src: url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: NotoSans;
  font-display: swap;
  src: url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.tab-container__items,
.tab-container2__items {
  overflow: hidden;
}

.tab-container__items-tablinks,
.tab-container2__items-tablinks {
  border: none;
  outline: none;
  cursor: pointer;
}

.tab-container__content-tabcontent,
.tab-container2__content-tabcontent {
  height: 100%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.popup.activePopup {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 400px;
  padding: 25px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__body.activePopup {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__body-closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

:root {
  --index: calc(1vw + 1vh);
}

img,
picture {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: NotoSans;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  background-color: #333;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main .gametab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main .gametab .tab-container__content {
  width: 100%;
  text-align: center;
}

.main .gametab .tab-container__items {
  background-color: #333;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.main .gametab .tab-container__items-tablinks {
  background-color: #333;
  color: white;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 16px;
}

.main .gametab .tab-container__items .underline {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #b30000;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main .gametab .tab-container__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main .game2084 {
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main .game2084 #game-board {
  --cel-size: 20vmin;
  --cel-grap: 2vmin;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (var(--cel-size))[4];
  grid-template-columns: repeat(4, var(--cel-size));
  -ms-grid-rows: (var(--cel-size))[4];
  grid-template-rows: repeat(4, var(--cel-size));
  gap: var(--cel-grap);
  border-radius: 1vmin;
}

.main .game2084 #game-board .cell {
  background-color: #444;
  border-radius: 1vmin;
}

.main .game2084 #game-board .tile {
  --y: 1;
  --x: 2;
  position: absolute;
  top: calc(var(--y) * (var(--cel-size) + var(--cel-grap)));
  left: calc(var(--x) * (var(--cel-size) + var(--cel-grap)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--cel-size);
  height: var(--cel-size);
  border-radius: 1vmin;
  font-size: 7.5vmin;
  font-weight: bold;
  background-color: var(--bg-lightness);
  color: var(--text-lightnessd);
  -webkit-transition: 100ms;
  transition: 100ms;
  -webkit-animation: show 200ms;
          animation: show 200ms;
}

@-webkit-keyframes show {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes show {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.main .game-snake {
  background: #353336;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .game-snake__header {
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .game-snake__score {
  padding: 10px 15px;
  min-width: 160px;
  height: 50px;
  background: #121214;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .game-snake__score-count {
  font-size: 3vmin;
  color: #D21855;
  font-weight: bold;
}

.main .game-snake__canvas {
  background-color: #161618;
  border-radius: 5px;
  border: 10px solid #161618;
  -webkit-box-shadow: 0px 0px 40px 10px #161618;
          box-shadow: 0px 0px 40px 10px #161618;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2'%3E%3Ccircle cx='8' cy='8' r='4' fill='%23525053'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.main .game-snake__canvas-item {
  display: block;
  border-radius: 5px;
}

.main .popup {
  text-align: center;
}

.main .popup__body-closeButton {
  background-color: #b30000;
  border: 1px solid #353336;
  border-radius: 10px;
  color: #fff;
  position: static;
  margin: 20px auto 0px auto;
  padding: 5px 0px;
  width: 50%;
}

.main .popup__body-closeButton_second {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0;
  width: auto;
  padding: 3px 7px;
}

.main .help {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  background-color: #b30000;
  border: 1px solid #000;
  padding: 5px 15px;
  border-radius: 10px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.main .help:hover {
  background-color: #fff;
  color: #000;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}